    .searchcitiesdiv{
        display:inline;
        margin-top: 20px;
        padding-top:20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .greenbutton{
        background-color: green; /* Green */
        
    }
    .bluebutton{
        background-color: blue; /* Blue */
    
    }
