td{
    padding: 10px;
    margin: 20px;
    border: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-align: inherit;
    vertical-align: inherit;
}